<a href="https://colab.research.google.com/github/ShinyQ/Tugas-Pengantar-AI-2_Fuzzy_Logic/blob/main/Tugas_2_Kelompok_1_Reasoning_(Fuzzy_Logic).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## **Membaca File**

In [6]:
data = pd.read_excel("https://github.com/ShinyQ/Tugas-Pengantar-AI-2_Fuzzy_Logic/blob/main/restoran.xlsx?raw=true")
data.sample(5)

    id  pelayanan  makanan
31  32         42        3
85  86         30        5
90  91         98        3
65  66          4        9
11  12         38        7

## **Fuzzifikasi**

In [7]:
def fuzzy_pelayanan():

SyntaxError: ignored

In [ ]:
def fuzzy_makanan():

## **Inferensi**

In [ ]:
def inference():

## **Defuzzifikasi**

In [ ]:
def defuzzification():

## **Hasil**